<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.sunfintech.dao.mapper.EaccCardinfoMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.sunfintech.dao.entity.EaccCardinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mall_no" jdbcType="VARCHAR" property="mall_no" />
    <result column="mallcust" jdbcType="VARCHAR" property="mallcust" />
    <result column="pay_channel" jdbcType="VARCHAR" property="pay_channel" />
    <result column="card_no" jdbcType="VARCHAR" property="card_no" />
    <result column="bank_no" jdbcType="VARCHAR" property="bank_no" />
    <result column="open_branch" jdbcType="CHAR" property="open_branch" />
    <result column="card_type" jdbcType="VARCHAR" property="card_type" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="bindId" jdbcType="VARCHAR" property="bindId" />
    <result column="acct_name" jdbcType="VARCHAR" property="acct_name" />
    <result column="acct_no" jdbcType="VARCHAR" property="acct_no" />
    <result column="org_no" jdbcType="VARCHAR" property="org_no" />
    <result column="enabled" jdbcType="CHAR" property="enabled" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="create_by" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_by" jdbcType="VARCHAR" property="update_by" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mall_no, mallcust, pay_channel, card_no, bank_no, open_branch, card_type, mobile, 
    status, bindId, acct_name, acct_no, org_no, enabled, remark, create_by, create_time, 
    update_by, update_time
  </sql>
  <select id="selectByExample" parameterType="com.sunyard.sunfintech.dao.entity.EaccCardinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from eacc_cardinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eacc_cardinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eacc_cardinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunyard.sunfintech.dao.entity.EaccCardinfoExample">
    delete from eacc_cardinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunyard.sunfintech.dao.entity.EaccCardinfo">
    insert into eacc_cardinfo (id, mall_no, mallcust, 
      pay_channel, card_no, bank_no, 
      open_branch, card_type, mobile, 
      status, bindId, acct_name, 
      acct_no, org_no, enabled, 
      remark, create_by, create_time, 
      update_by, update_time)
    values (#{id,jdbcType=INTEGER}, #{mall_no,jdbcType=VARCHAR}, #{mallcust,jdbcType=VARCHAR}, 
      #{pay_channel,jdbcType=VARCHAR}, #{card_no,jdbcType=VARCHAR}, #{bank_no,jdbcType=VARCHAR}, 
      #{open_branch,jdbcType=CHAR}, #{card_type,jdbcType=VARCHAR}, #{mobile,jdbcType=CHAR}, 
      #{status,jdbcType=CHAR}, #{bindId,jdbcType=VARCHAR}, #{acct_name,jdbcType=VARCHAR}, 
      #{acct_no,jdbcType=VARCHAR}, #{org_no,jdbcType=VARCHAR}, #{enabled,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{create_by,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_by,jdbcType=VARCHAR}, #{update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sunyard.sunfintech.dao.entity.EaccCardinfo">
    insert into eacc_cardinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mall_no != null">
        mall_no,
      </if>
      <if test="mallcust != null">
        mallcust,
      </if>
      <if test="pay_channel != null">
        pay_channel,
      </if>
      <if test="card_no != null">
        card_no,
      </if>
      <if test="bank_no != null">
        bank_no,
      </if>
      <if test="open_branch != null">
        open_branch,
      </if>
      <if test="card_type != null">
        card_type,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="bindId != null">
        bindId,
      </if>
      <if test="acct_name != null">
        acct_name,
      </if>
      <if test="acct_no != null">
        acct_no,
      </if>
      <if test="org_no != null">
        org_no,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="create_by != null">
        create_by,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_by != null">
        update_by,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mall_no != null">
        #{mall_no,jdbcType=VARCHAR},
      </if>
      <if test="mallcust != null">
        #{mallcust,jdbcType=VARCHAR},
      </if>
      <if test="pay_channel != null">
        #{pay_channel,jdbcType=VARCHAR},
      </if>
      <if test="card_no != null">
        #{card_no,jdbcType=VARCHAR},
      </if>
      <if test="bank_no != null">
        #{bank_no,jdbcType=VARCHAR},
      </if>
      <if test="open_branch != null">
        #{open_branch,jdbcType=CHAR},
      </if>
      <if test="card_type != null">
        #{card_type,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="bindId != null">
        #{bindId,jdbcType=VARCHAR},
      </if>
      <if test="acct_name != null">
        #{acct_name,jdbcType=VARCHAR},
      </if>
      <if test="acct_no != null">
        #{acct_no,jdbcType=VARCHAR},
      </if>
      <if test="org_no != null">
        #{org_no,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunyard.sunfintech.dao.entity.EaccCardinfoExample" resultType="java.lang.Integer">
    select count(*) from eacc_cardinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eacc_cardinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mall_no != null">
        mall_no = #{record.mall_no,jdbcType=VARCHAR},
      </if>
      <if test="record.mallcust != null">
        mallcust = #{record.mallcust,jdbcType=VARCHAR},
      </if>
      <if test="record.pay_channel != null">
        pay_channel = #{record.pay_channel,jdbcType=VARCHAR},
      </if>
      <if test="record.card_no != null">
        card_no = #{record.card_no,jdbcType=VARCHAR},
      </if>
      <if test="record.bank_no != null">
        bank_no = #{record.bank_no,jdbcType=VARCHAR},
      </if>
      <if test="record.open_branch != null">
        open_branch = #{record.open_branch,jdbcType=CHAR},
      </if>
      <if test="record.card_type != null">
        card_type = #{record.card_type,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.bindId != null">
        bindId = #{record.bindId,jdbcType=VARCHAR},
      </if>
      <if test="record.acct_name != null">
        acct_name = #{record.acct_name,jdbcType=VARCHAR},
      </if>
      <if test="record.acct_no != null">
        acct_no = #{record.acct_no,jdbcType=VARCHAR},
      </if>
      <if test="record.org_no != null">
        org_no = #{record.org_no,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.create_by != null">
        create_by = #{record.create_by,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_by != null">
        update_by = #{record.update_by,jdbcType=VARCHAR},
      </if>
      <if test="record.update_time != null">
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eacc_cardinfo
    set id = #{record.id,jdbcType=INTEGER},
      mall_no = #{record.mall_no,jdbcType=VARCHAR},
      mallcust = #{record.mallcust,jdbcType=VARCHAR},
      pay_channel = #{record.pay_channel,jdbcType=VARCHAR},
      card_no = #{record.card_no,jdbcType=VARCHAR},
      bank_no = #{record.bank_no,jdbcType=VARCHAR},
      open_branch = #{record.open_branch,jdbcType=CHAR},
      card_type = #{record.card_type,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=CHAR},
      status = #{record.status,jdbcType=CHAR},
      bindId = #{record.bindId,jdbcType=VARCHAR},
      acct_name = #{record.acct_name,jdbcType=VARCHAR},
      acct_no = #{record.acct_no,jdbcType=VARCHAR},
      org_no = #{record.org_no,jdbcType=VARCHAR},
      enabled = #{record.enabled,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_by = #{record.create_by,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_by = #{record.update_by,jdbcType=VARCHAR},
      update_time = #{record.update_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunyard.sunfintech.dao.entity.EaccCardinfo">
    update eacc_cardinfo
    <set>
      <if test="mall_no != null">
        mall_no = #{mall_no,jdbcType=VARCHAR},
      </if>
      <if test="mallcust != null">
        mallcust = #{mallcust,jdbcType=VARCHAR},
      </if>
      <if test="pay_channel != null">
        pay_channel = #{pay_channel,jdbcType=VARCHAR},
      </if>
      <if test="card_no != null">
        card_no = #{card_no,jdbcType=VARCHAR},
      </if>
      <if test="bank_no != null">
        bank_no = #{bank_no,jdbcType=VARCHAR},
      </if>
      <if test="open_branch != null">
        open_branch = #{open_branch,jdbcType=CHAR},
      </if>
      <if test="card_type != null">
        card_type = #{card_type,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="bindId != null">
        bindId = #{bindId,jdbcType=VARCHAR},
      </if>
      <if test="acct_name != null">
        acct_name = #{acct_name,jdbcType=VARCHAR},
      </if>
      <if test="acct_no != null">
        acct_no = #{acct_no,jdbcType=VARCHAR},
      </if>
      <if test="org_no != null">
        org_no = #{org_no,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunyard.sunfintech.dao.entity.EaccCardinfo">
    update eacc_cardinfo
    set mall_no = #{mall_no,jdbcType=VARCHAR},
      mallcust = #{mallcust,jdbcType=VARCHAR},
      pay_channel = #{pay_channel,jdbcType=VARCHAR},
      card_no = #{card_no,jdbcType=VARCHAR},
      bank_no = #{bank_no,jdbcType=VARCHAR},
      open_branch = #{open_branch,jdbcType=CHAR},
      card_type = #{card_type,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      bindId = #{bindId,jdbcType=VARCHAR},
      acct_name = #{acct_name,jdbcType=VARCHAR},
      acct_no = #{acct_no,jdbcType=VARCHAR},
      org_no = #{org_no,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>