<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.sunfintech.dao.mapper.ProdShareInallMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.sunfintech.dao.entity.ProdShareInall">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plat_no" jdbcType="VARCHAR" property="plat_no" />
    <result column="prod_id" jdbcType="VARCHAR" property="prod_id" />
    <result column="platcust" jdbcType="VARCHAR" property="platcust" />
    <result column="cust_no" jdbcType="VARCHAR" property="cust_no" />
    <result column="tot_vol" jdbcType="DECIMAL" property="tot_vol" />
    <result column="frozen_vol" jdbcType="DECIMAL" property="frozen_vol" />
    <result column="vol" jdbcType="DECIMAL" property="vol" />
    <result column="enabled" jdbcType="CHAR" property="enabled" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="create_by" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_by" jdbcType="VARCHAR" property="update_by" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, plat_no, prod_id, platcust, cust_no, tot_vol, frozen_vol, vol, enabled, remark, 
    create_by, create_time, update_by, update_time, ext1, ext2
  </sql>
  <select id="selectByExample" parameterType="com.sunyard.sunfintech.dao.entity.ProdShareInallExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from prod_share_inall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prod_share_inall
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prod_share_inall
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunyard.sunfintech.dao.entity.ProdShareInallExample">
    delete from prod_share_inall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunyard.sunfintech.dao.entity.ProdShareInall">
    insert into prod_share_inall (id, plat_no, prod_id, 
      platcust, cust_no, tot_vol, 
      frozen_vol, vol, enabled, 
      remark, create_by, create_time, 
      update_by, update_time, ext1, 
      ext2)
    values (#{id,jdbcType=INTEGER}, #{plat_no,jdbcType=VARCHAR}, #{prod_id,jdbcType=VARCHAR}, 
      #{platcust,jdbcType=VARCHAR}, #{cust_no,jdbcType=VARCHAR}, #{tot_vol,jdbcType=DECIMAL}, 
      #{frozen_vol,jdbcType=DECIMAL}, #{vol,jdbcType=DECIMAL}, #{enabled,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{create_by,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_by,jdbcType=VARCHAR}, #{update_time,jdbcType=TIMESTAMP}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sunyard.sunfintech.dao.entity.ProdShareInall">
    insert into prod_share_inall
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="plat_no != null">
        plat_no,
      </if>
      <if test="prod_id != null">
        prod_id,
      </if>
      <if test="platcust != null">
        platcust,
      </if>
      <if test="cust_no != null">
        cust_no,
      </if>
      <if test="tot_vol != null">
        tot_vol,
      </if>
      <if test="frozen_vol != null">
        frozen_vol,
      </if>
      <if test="vol != null">
        vol,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="create_by != null">
        create_by,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_by != null">
        update_by,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="ext1 != null">
        ext1,
      </if>
      <if test="ext2 != null">
        ext2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="plat_no != null">
        #{plat_no,jdbcType=VARCHAR},
      </if>
      <if test="prod_id != null">
        #{prod_id,jdbcType=VARCHAR},
      </if>
      <if test="platcust != null">
        #{platcust,jdbcType=VARCHAR},
      </if>
      <if test="cust_no != null">
        #{cust_no,jdbcType=VARCHAR},
      </if>
      <if test="tot_vol != null">
        #{tot_vol,jdbcType=DECIMAL},
      </if>
      <if test="frozen_vol != null">
        #{frozen_vol,jdbcType=DECIMAL},
      </if>
      <if test="vol != null">
        #{vol,jdbcType=DECIMAL},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunyard.sunfintech.dao.entity.ProdShareInallExample" resultType="java.lang.Integer">
    select count(*) from prod_share_inall
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prod_share_inall
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.plat_no != null">
        plat_no = #{record.plat_no,jdbcType=VARCHAR},
      </if>
      <if test="record.prod_id != null">
        prod_id = #{record.prod_id,jdbcType=VARCHAR},
      </if>
      <if test="record.platcust != null">
        platcust = #{record.platcust,jdbcType=VARCHAR},
      </if>
      <if test="record.cust_no != null">
        cust_no = #{record.cust_no,jdbcType=VARCHAR},
      </if>
      <if test="record.tot_vol != null">
        tot_vol = #{record.tot_vol,jdbcType=DECIMAL},
      </if>
      <if test="record.frozen_vol != null">
        frozen_vol = #{record.frozen_vol,jdbcType=DECIMAL},
      </if>
      <if test="record.vol != null">
        vol = #{record.vol,jdbcType=DECIMAL},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.create_by != null">
        create_by = #{record.create_by,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_by != null">
        update_by = #{record.update_by,jdbcType=VARCHAR},
      </if>
      <if test="record.update_time != null">
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ext1 != null">
        ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null">
        ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prod_share_inall
    set id = #{record.id,jdbcType=INTEGER},
      plat_no = #{record.plat_no,jdbcType=VARCHAR},
      prod_id = #{record.prod_id,jdbcType=VARCHAR},
      platcust = #{record.platcust,jdbcType=VARCHAR},
      cust_no = #{record.cust_no,jdbcType=VARCHAR},
      tot_vol = #{record.tot_vol,jdbcType=DECIMAL},
      frozen_vol = #{record.frozen_vol,jdbcType=DECIMAL},
      vol = #{record.vol,jdbcType=DECIMAL},
      enabled = #{record.enabled,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_by = #{record.create_by,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_by = #{record.update_by,jdbcType=VARCHAR},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      ext1 = #{record.ext1,jdbcType=VARCHAR},
      ext2 = #{record.ext2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunyard.sunfintech.dao.entity.ProdShareInall">
    update prod_share_inall
    <set>
      <if test="plat_no != null">
        plat_no = #{plat_no,jdbcType=VARCHAR},
      </if>
      <if test="prod_id != null">
        prod_id = #{prod_id,jdbcType=VARCHAR},
      </if>
      <if test="platcust != null">
        platcust = #{platcust,jdbcType=VARCHAR},
      </if>
      <if test="cust_no != null">
        cust_no = #{cust_no,jdbcType=VARCHAR},
      </if>
      <if test="tot_vol != null">
        tot_vol = #{tot_vol,jdbcType=DECIMAL},
      </if>
      <if test="frozen_vol != null">
        frozen_vol = #{frozen_vol,jdbcType=DECIMAL},
      </if>
      <if test="vol != null">
        vol = #{vol,jdbcType=DECIMAL},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunyard.sunfintech.dao.entity.ProdShareInall">
    update prod_share_inall
    set plat_no = #{plat_no,jdbcType=VARCHAR},
      prod_id = #{prod_id,jdbcType=VARCHAR},
      platcust = #{platcust,jdbcType=VARCHAR},
      cust_no = #{cust_no,jdbcType=VARCHAR},
      tot_vol = #{tot_vol,jdbcType=DECIMAL},
      frozen_vol = #{frozen_vol,jdbcType=DECIMAL},
      vol = #{vol,jdbcType=DECIMAL},
      enabled = #{enabled,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>