<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.sunfintech.dao.mapper.RwWithdrawMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.sunfintech.dao.entity.RwWithdraw">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trans_serial" jdbcType="VARCHAR" property="trans_serial" />
    <result column="order_no" jdbcType="VARCHAR" property="order_no" />
    <result column="trans_date" jdbcType="VARCHAR" property="trans_date" />
    <result column="trans_time" jdbcType="VARCHAR" property="trans_time" />
    <result column="plat_no" jdbcType="VARCHAR" property="plat_no" />
    <result column="prod_id" jdbcType="VARCHAR" property="prod_id" />
    <result column="platcust" jdbcType="VARCHAR" property="platcust" />
    <result column="trans_code" jdbcType="VARCHAR" property="trans_code" />
    <result column="trans_name" jdbcType="VARCHAR" property="trans_name" />
    <result column="out_amt" jdbcType="DECIMAL" property="out_amt" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="sub_subject" jdbcType="VARCHAR" property="sub_subject" />
    <result column="pay_code" jdbcType="VARCHAR" property="pay_code" />
    <result column="fee_amt" jdbcType="DECIMAL" property="fee_amt" />
    <result column="advance_amt" jdbcType="DECIMAL" property="advance_amt" />
    <result column="oppo_account" jdbcType="VARCHAR" property="oppo_account" />
    <result column="open_branch" jdbcType="VARCHAR" property="open_branch" />
    <result column="payee_name" jdbcType="VARCHAR" property="payee_name" />
    <result column="client_property" jdbcType="VARCHAR" property="client_property" />
    <result column="city_code" jdbcType="VARCHAR" property="city_code" />
    <result column="bank_id" jdbcType="VARCHAR" property="bank_id" />
    <result column="brabank_name" jdbcType="VARCHAR" property="brabank_name" />
    <result column="is_advance" jdbcType="VARCHAR" property="is_advance" />
    <result column="pay_status" jdbcType="VARCHAR" property="pay_status" />
    <result column="acct_state" jdbcType="VARCHAR" property="acct_state" />
    <result column="withdraw_no" jdbcType="VARCHAR" property="withdraw_no" />
    <result column="pay_time" jdbcType="VARCHAR" property="pay_time" />
    <result column="finish_time" jdbcType="VARCHAR" property="finish_time" />
    <result column="notify_url" jdbcType="VARCHAR" property="notify_url" />
    <result column="host_req_serial_no" jdbcType="VARCHAR" property="host_req_serial_no" />
    <result column="enabled" jdbcType="CHAR" property="enabled" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="create_by" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_by" jdbcType="VARCHAR" property="update_by" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    <result column="ext4" jdbcType="VARCHAR" property="ext4" />
    <result column="query_no_num" jdbcType="INTEGER" property="query_no_num" />
    <result column="paymessage" jdbcType="VARCHAR" property="paymessage" />
    <result column="province_code" jdbcType="VARCHAR" property="province_code" />
    <result column="payment_status" jdbcType="VARCHAR" property="payment_status" />
    <result column="payment_date" jdbcType="CHAR" property="payment_date" />
    <result column="card_type" jdbcType="CHAR" property="card_type" />
    <result column="origin_order_no" jdbcType="VARCHAR" property="origin_order_no" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, trans_serial, order_no, trans_date, trans_time, plat_no, prod_id, platcust, trans_code, 
    trans_name, out_amt, subject, sub_subject, pay_code, fee_amt, advance_amt, oppo_account, 
    open_branch, payee_name, client_property, city_code, bank_id, brabank_name, is_advance, 
    pay_status, acct_state, withdraw_no, pay_time, finish_time, notify_url, host_req_serial_no, 
    enabled, remark, create_by, create_time, update_by, update_time, ext1, ext2, ext3, 
    ext4, query_no_num, paymessage, province_code, payment_status, payment_date, card_type, 
    origin_order_no
  </sql>
  <select id="selectByExample" parameterType="com.sunyard.sunfintech.dao.entity.RwWithdrawExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from rw_withdraw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rw_withdraw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rw_withdraw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunyard.sunfintech.dao.entity.RwWithdrawExample">
    delete from rw_withdraw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunyard.sunfintech.dao.entity.RwWithdraw">
    insert into rw_withdraw (id, trans_serial, order_no, 
      trans_date, trans_time, plat_no, 
      prod_id, platcust, trans_code, 
      trans_name, out_amt, subject, 
      sub_subject, pay_code, fee_amt, 
      advance_amt, oppo_account, open_branch, 
      payee_name, client_property, city_code, 
      bank_id, brabank_name, is_advance, 
      pay_status, acct_state, withdraw_no, 
      pay_time, finish_time, notify_url, 
      host_req_serial_no, enabled, remark, 
      create_by, create_time, update_by, 
      update_time, ext1, ext2, 
      ext3, ext4, query_no_num, 
      paymessage, province_code, payment_status, 
      payment_date, card_type, origin_order_no
      )
    values (#{id,jdbcType=INTEGER}, #{trans_serial,jdbcType=VARCHAR}, #{order_no,jdbcType=VARCHAR}, 
      #{trans_date,jdbcType=VARCHAR}, #{trans_time,jdbcType=VARCHAR}, #{plat_no,jdbcType=VARCHAR}, 
      #{prod_id,jdbcType=VARCHAR}, #{platcust,jdbcType=VARCHAR}, #{trans_code,jdbcType=VARCHAR}, 
      #{trans_name,jdbcType=VARCHAR}, #{out_amt,jdbcType=DECIMAL}, #{subject,jdbcType=VARCHAR}, 
      #{sub_subject,jdbcType=VARCHAR}, #{pay_code,jdbcType=VARCHAR}, #{fee_amt,jdbcType=DECIMAL}, 
      #{advance_amt,jdbcType=DECIMAL}, #{oppo_account,jdbcType=VARCHAR}, #{open_branch,jdbcType=VARCHAR}, 
      #{payee_name,jdbcType=VARCHAR}, #{client_property,jdbcType=VARCHAR}, #{city_code,jdbcType=VARCHAR}, 
      #{bank_id,jdbcType=VARCHAR}, #{brabank_name,jdbcType=VARCHAR}, #{is_advance,jdbcType=VARCHAR}, 
      #{pay_status,jdbcType=VARCHAR}, #{acct_state,jdbcType=VARCHAR}, #{withdraw_no,jdbcType=VARCHAR}, 
      #{pay_time,jdbcType=VARCHAR}, #{finish_time,jdbcType=VARCHAR}, #{notify_url,jdbcType=VARCHAR}, 
      #{host_req_serial_no,jdbcType=VARCHAR}, #{enabled,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{create_by,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{update_by,jdbcType=VARCHAR}, 
      #{update_time,jdbcType=TIMESTAMP}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{query_no_num,jdbcType=INTEGER}, 
      #{paymessage,jdbcType=VARCHAR}, #{province_code,jdbcType=VARCHAR}, #{payment_status,jdbcType=VARCHAR}, 
      #{payment_date,jdbcType=CHAR}, #{card_type,jdbcType=CHAR}, #{origin_order_no,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunyard.sunfintech.dao.entity.RwWithdraw">
    insert into rw_withdraw
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="trans_serial != null">
        trans_serial,
      </if>
      <if test="order_no != null">
        order_no,
      </if>
      <if test="trans_date != null">
        trans_date,
      </if>
      <if test="trans_time != null">
        trans_time,
      </if>
      <if test="plat_no != null">
        plat_no,
      </if>
      <if test="prod_id != null">
        prod_id,
      </if>
      <if test="platcust != null">
        platcust,
      </if>
      <if test="trans_code != null">
        trans_code,
      </if>
      <if test="trans_name != null">
        trans_name,
      </if>
      <if test="out_amt != null">
        out_amt,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="sub_subject != null">
        sub_subject,
      </if>
      <if test="pay_code != null">
        pay_code,
      </if>
      <if test="fee_amt != null">
        fee_amt,
      </if>
      <if test="advance_amt != null">
        advance_amt,
      </if>
      <if test="oppo_account != null">
        oppo_account,
      </if>
      <if test="open_branch != null">
        open_branch,
      </if>
      <if test="payee_name != null">
        payee_name,
      </if>
      <if test="client_property != null">
        client_property,
      </if>
      <if test="city_code != null">
        city_code,
      </if>
      <if test="bank_id != null">
        bank_id,
      </if>
      <if test="brabank_name != null">
        brabank_name,
      </if>
      <if test="is_advance != null">
        is_advance,
      </if>
      <if test="pay_status != null">
        pay_status,
      </if>
      <if test="acct_state != null">
        acct_state,
      </if>
      <if test="withdraw_no != null">
        withdraw_no,
      </if>
      <if test="pay_time != null">
        pay_time,
      </if>
      <if test="finish_time != null">
        finish_time,
      </if>
      <if test="notify_url != null">
        notify_url,
      </if>
      <if test="host_req_serial_no != null">
        host_req_serial_no,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="create_by != null">
        create_by,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_by != null">
        update_by,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="ext1 != null">
        ext1,
      </if>
      <if test="ext2 != null">
        ext2,
      </if>
      <if test="ext3 != null">
        ext3,
      </if>
      <if test="ext4 != null">
        ext4,
      </if>
      <if test="query_no_num != null">
        query_no_num,
      </if>
      <if test="paymessage != null">
        paymessage,
      </if>
      <if test="province_code != null">
        province_code,
      </if>
      <if test="payment_status != null">
        payment_status,
      </if>
      <if test="payment_date != null">
        payment_date,
      </if>
      <if test="card_type != null">
        card_type,
      </if>
      <if test="origin_order_no != null">
        origin_order_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="trans_serial != null">
        #{trans_serial,jdbcType=VARCHAR},
      </if>
      <if test="order_no != null">
        #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="trans_date != null">
        #{trans_date,jdbcType=VARCHAR},
      </if>
      <if test="trans_time != null">
        #{trans_time,jdbcType=VARCHAR},
      </if>
      <if test="plat_no != null">
        #{plat_no,jdbcType=VARCHAR},
      </if>
      <if test="prod_id != null">
        #{prod_id,jdbcType=VARCHAR},
      </if>
      <if test="platcust != null">
        #{platcust,jdbcType=VARCHAR},
      </if>
      <if test="trans_code != null">
        #{trans_code,jdbcType=VARCHAR},
      </if>
      <if test="trans_name != null">
        #{trans_name,jdbcType=VARCHAR},
      </if>
      <if test="out_amt != null">
        #{out_amt,jdbcType=DECIMAL},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="sub_subject != null">
        #{sub_subject,jdbcType=VARCHAR},
      </if>
      <if test="pay_code != null">
        #{pay_code,jdbcType=VARCHAR},
      </if>
      <if test="fee_amt != null">
        #{fee_amt,jdbcType=DECIMAL},
      </if>
      <if test="advance_amt != null">
        #{advance_amt,jdbcType=DECIMAL},
      </if>
      <if test="oppo_account != null">
        #{oppo_account,jdbcType=VARCHAR},
      </if>
      <if test="open_branch != null">
        #{open_branch,jdbcType=VARCHAR},
      </if>
      <if test="payee_name != null">
        #{payee_name,jdbcType=VARCHAR},
      </if>
      <if test="client_property != null">
        #{client_property,jdbcType=VARCHAR},
      </if>
      <if test="city_code != null">
        #{city_code,jdbcType=VARCHAR},
      </if>
      <if test="bank_id != null">
        #{bank_id,jdbcType=VARCHAR},
      </if>
      <if test="brabank_name != null">
        #{brabank_name,jdbcType=VARCHAR},
      </if>
      <if test="is_advance != null">
        #{is_advance,jdbcType=VARCHAR},
      </if>
      <if test="pay_status != null">
        #{pay_status,jdbcType=VARCHAR},
      </if>
      <if test="acct_state != null">
        #{acct_state,jdbcType=VARCHAR},
      </if>
      <if test="withdraw_no != null">
        #{withdraw_no,jdbcType=VARCHAR},
      </if>
      <if test="pay_time != null">
        #{pay_time,jdbcType=VARCHAR},
      </if>
      <if test="finish_time != null">
        #{finish_time,jdbcType=VARCHAR},
      </if>
      <if test="notify_url != null">
        #{notify_url,jdbcType=VARCHAR},
      </if>
      <if test="host_req_serial_no != null">
        #{host_req_serial_no,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null">
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="query_no_num != null">
        #{query_no_num,jdbcType=INTEGER},
      </if>
      <if test="paymessage != null">
        #{paymessage,jdbcType=VARCHAR},
      </if>
      <if test="province_code != null">
        #{province_code,jdbcType=VARCHAR},
      </if>
      <if test="payment_status != null">
        #{payment_status,jdbcType=VARCHAR},
      </if>
      <if test="payment_date != null">
        #{payment_date,jdbcType=CHAR},
      </if>
      <if test="card_type != null">
        #{card_type,jdbcType=CHAR},
      </if>
      <if test="origin_order_no != null">
        #{origin_order_no,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunyard.sunfintech.dao.entity.RwWithdrawExample" resultType="java.lang.Integer">
    select count(*) from rw_withdraw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rw_withdraw
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.trans_serial != null">
        trans_serial = #{record.trans_serial,jdbcType=VARCHAR},
      </if>
      <if test="record.order_no != null">
        order_no = #{record.order_no,jdbcType=VARCHAR},
      </if>
      <if test="record.trans_date != null">
        trans_date = #{record.trans_date,jdbcType=VARCHAR},
      </if>
      <if test="record.trans_time != null">
        trans_time = #{record.trans_time,jdbcType=VARCHAR},
      </if>
      <if test="record.plat_no != null">
        plat_no = #{record.plat_no,jdbcType=VARCHAR},
      </if>
      <if test="record.prod_id != null">
        prod_id = #{record.prod_id,jdbcType=VARCHAR},
      </if>
      <if test="record.platcust != null">
        platcust = #{record.platcust,jdbcType=VARCHAR},
      </if>
      <if test="record.trans_code != null">
        trans_code = #{record.trans_code,jdbcType=VARCHAR},
      </if>
      <if test="record.trans_name != null">
        trans_name = #{record.trans_name,jdbcType=VARCHAR},
      </if>
      <if test="record.out_amt != null">
        out_amt = #{record.out_amt,jdbcType=DECIMAL},
      </if>
      <if test="record.subject != null">
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.sub_subject != null">
        sub_subject = #{record.sub_subject,jdbcType=VARCHAR},
      </if>
      <if test="record.pay_code != null">
        pay_code = #{record.pay_code,jdbcType=VARCHAR},
      </if>
      <if test="record.fee_amt != null">
        fee_amt = #{record.fee_amt,jdbcType=DECIMAL},
      </if>
      <if test="record.advance_amt != null">
        advance_amt = #{record.advance_amt,jdbcType=DECIMAL},
      </if>
      <if test="record.oppo_account != null">
        oppo_account = #{record.oppo_account,jdbcType=VARCHAR},
      </if>
      <if test="record.open_branch != null">
        open_branch = #{record.open_branch,jdbcType=VARCHAR},
      </if>
      <if test="record.payee_name != null">
        payee_name = #{record.payee_name,jdbcType=VARCHAR},
      </if>
      <if test="record.client_property != null">
        client_property = #{record.client_property,jdbcType=VARCHAR},
      </if>
      <if test="record.city_code != null">
        city_code = #{record.city_code,jdbcType=VARCHAR},
      </if>
      <if test="record.bank_id != null">
        bank_id = #{record.bank_id,jdbcType=VARCHAR},
      </if>
      <if test="record.brabank_name != null">
        brabank_name = #{record.brabank_name,jdbcType=VARCHAR},
      </if>
      <if test="record.is_advance != null">
        is_advance = #{record.is_advance,jdbcType=VARCHAR},
      </if>
      <if test="record.pay_status != null">
        pay_status = #{record.pay_status,jdbcType=VARCHAR},
      </if>
      <if test="record.acct_state != null">
        acct_state = #{record.acct_state,jdbcType=VARCHAR},
      </if>
      <if test="record.withdraw_no != null">
        withdraw_no = #{record.withdraw_no,jdbcType=VARCHAR},
      </if>
      <if test="record.pay_time != null">
        pay_time = #{record.pay_time,jdbcType=VARCHAR},
      </if>
      <if test="record.finish_time != null">
        finish_time = #{record.finish_time,jdbcType=VARCHAR},
      </if>
      <if test="record.notify_url != null">
        notify_url = #{record.notify_url,jdbcType=VARCHAR},
      </if>
      <if test="record.host_req_serial_no != null">
        host_req_serial_no = #{record.host_req_serial_no,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.create_by != null">
        create_by = #{record.create_by,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_by != null">
        update_by = #{record.update_by,jdbcType=VARCHAR},
      </if>
      <if test="record.update_time != null">
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ext1 != null">
        ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null">
        ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null">
        ext3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
      <if test="record.ext4 != null">
        ext4 = #{record.ext4,jdbcType=VARCHAR},
      </if>
      <if test="record.query_no_num != null">
        query_no_num = #{record.query_no_num,jdbcType=INTEGER},
      </if>
      <if test="record.paymessage != null">
        paymessage = #{record.paymessage,jdbcType=VARCHAR},
      </if>
      <if test="record.province_code != null">
        province_code = #{record.province_code,jdbcType=VARCHAR},
      </if>
      <if test="record.payment_status != null">
        payment_status = #{record.payment_status,jdbcType=VARCHAR},
      </if>
      <if test="record.payment_date != null">
        payment_date = #{record.payment_date,jdbcType=CHAR},
      </if>
      <if test="record.card_type != null">
        card_type = #{record.card_type,jdbcType=CHAR},
      </if>
      <if test="record.origin_order_no != null">
        origin_order_no = #{record.origin_order_no,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rw_withdraw
    set id = #{record.id,jdbcType=INTEGER},
      trans_serial = #{record.trans_serial,jdbcType=VARCHAR},
      order_no = #{record.order_no,jdbcType=VARCHAR},
      trans_date = #{record.trans_date,jdbcType=VARCHAR},
      trans_time = #{record.trans_time,jdbcType=VARCHAR},
      plat_no = #{record.plat_no,jdbcType=VARCHAR},
      prod_id = #{record.prod_id,jdbcType=VARCHAR},
      platcust = #{record.platcust,jdbcType=VARCHAR},
      trans_code = #{record.trans_code,jdbcType=VARCHAR},
      trans_name = #{record.trans_name,jdbcType=VARCHAR},
      out_amt = #{record.out_amt,jdbcType=DECIMAL},
      subject = #{record.subject,jdbcType=VARCHAR},
      sub_subject = #{record.sub_subject,jdbcType=VARCHAR},
      pay_code = #{record.pay_code,jdbcType=VARCHAR},
      fee_amt = #{record.fee_amt,jdbcType=DECIMAL},
      advance_amt = #{record.advance_amt,jdbcType=DECIMAL},
      oppo_account = #{record.oppo_account,jdbcType=VARCHAR},
      open_branch = #{record.open_branch,jdbcType=VARCHAR},
      payee_name = #{record.payee_name,jdbcType=VARCHAR},
      client_property = #{record.client_property,jdbcType=VARCHAR},
      city_code = #{record.city_code,jdbcType=VARCHAR},
      bank_id = #{record.bank_id,jdbcType=VARCHAR},
      brabank_name = #{record.brabank_name,jdbcType=VARCHAR},
      is_advance = #{record.is_advance,jdbcType=VARCHAR},
      pay_status = #{record.pay_status,jdbcType=VARCHAR},
      acct_state = #{record.acct_state,jdbcType=VARCHAR},
      withdraw_no = #{record.withdraw_no,jdbcType=VARCHAR},
      pay_time = #{record.pay_time,jdbcType=VARCHAR},
      finish_time = #{record.finish_time,jdbcType=VARCHAR},
      notify_url = #{record.notify_url,jdbcType=VARCHAR},
      host_req_serial_no = #{record.host_req_serial_no,jdbcType=VARCHAR},
      enabled = #{record.enabled,jdbcType=CHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_by = #{record.create_by,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_by = #{record.update_by,jdbcType=VARCHAR},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      ext1 = #{record.ext1,jdbcType=VARCHAR},
      ext2 = #{record.ext2,jdbcType=VARCHAR},
      ext3 = #{record.ext3,jdbcType=VARCHAR},
      ext4 = #{record.ext4,jdbcType=VARCHAR},
      query_no_num = #{record.query_no_num,jdbcType=INTEGER},
      paymessage = #{record.paymessage,jdbcType=VARCHAR},
      province_code = #{record.province_code,jdbcType=VARCHAR},
      payment_status = #{record.payment_status,jdbcType=VARCHAR},
      payment_date = #{record.payment_date,jdbcType=CHAR},
      card_type = #{record.card_type,jdbcType=CHAR},
      origin_order_no = #{record.origin_order_no,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunyard.sunfintech.dao.entity.RwWithdraw">
    update rw_withdraw
    <set>
      <if test="trans_serial != null">
        trans_serial = #{trans_serial,jdbcType=VARCHAR},
      </if>
      <if test="order_no != null">
        order_no = #{order_no,jdbcType=VARCHAR},
      </if>
      <if test="trans_date != null">
        trans_date = #{trans_date,jdbcType=VARCHAR},
      </if>
      <if test="trans_time != null">
        trans_time = #{trans_time,jdbcType=VARCHAR},
      </if>
      <if test="plat_no != null">
        plat_no = #{plat_no,jdbcType=VARCHAR},
      </if>
      <if test="prod_id != null">
        prod_id = #{prod_id,jdbcType=VARCHAR},
      </if>
      <if test="platcust != null">
        platcust = #{platcust,jdbcType=VARCHAR},
      </if>
      <if test="trans_code != null">
        trans_code = #{trans_code,jdbcType=VARCHAR},
      </if>
      <if test="trans_name != null">
        trans_name = #{trans_name,jdbcType=VARCHAR},
      </if>
      <if test="out_amt != null">
        out_amt = #{out_amt,jdbcType=DECIMAL},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="sub_subject != null">
        sub_subject = #{sub_subject,jdbcType=VARCHAR},
      </if>
      <if test="pay_code != null">
        pay_code = #{pay_code,jdbcType=VARCHAR},
      </if>
      <if test="fee_amt != null">
        fee_amt = #{fee_amt,jdbcType=DECIMAL},
      </if>
      <if test="advance_amt != null">
        advance_amt = #{advance_amt,jdbcType=DECIMAL},
      </if>
      <if test="oppo_account != null">
        oppo_account = #{oppo_account,jdbcType=VARCHAR},
      </if>
      <if test="open_branch != null">
        open_branch = #{open_branch,jdbcType=VARCHAR},
      </if>
      <if test="payee_name != null">
        payee_name = #{payee_name,jdbcType=VARCHAR},
      </if>
      <if test="client_property != null">
        client_property = #{client_property,jdbcType=VARCHAR},
      </if>
      <if test="city_code != null">
        city_code = #{city_code,jdbcType=VARCHAR},
      </if>
      <if test="bank_id != null">
        bank_id = #{bank_id,jdbcType=VARCHAR},
      </if>
      <if test="brabank_name != null">
        brabank_name = #{brabank_name,jdbcType=VARCHAR},
      </if>
      <if test="is_advance != null">
        is_advance = #{is_advance,jdbcType=VARCHAR},
      </if>
      <if test="pay_status != null">
        pay_status = #{pay_status,jdbcType=VARCHAR},
      </if>
      <if test="acct_state != null">
        acct_state = #{acct_state,jdbcType=VARCHAR},
      </if>
      <if test="withdraw_no != null">
        withdraw_no = #{withdraw_no,jdbcType=VARCHAR},
      </if>
      <if test="pay_time != null">
        pay_time = #{pay_time,jdbcType=VARCHAR},
      </if>
      <if test="finish_time != null">
        finish_time = #{finish_time,jdbcType=VARCHAR},
      </if>
      <if test="notify_url != null">
        notify_url = #{notify_url,jdbcType=VARCHAR},
      </if>
      <if test="host_req_serial_no != null">
        host_req_serial_no = #{host_req_serial_no,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null">
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null">
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="query_no_num != null">
        query_no_num = #{query_no_num,jdbcType=INTEGER},
      </if>
      <if test="paymessage != null">
        paymessage = #{paymessage,jdbcType=VARCHAR},
      </if>
      <if test="province_code != null">
        province_code = #{province_code,jdbcType=VARCHAR},
      </if>
      <if test="payment_status != null">
        payment_status = #{payment_status,jdbcType=VARCHAR},
      </if>
      <if test="payment_date != null">
        payment_date = #{payment_date,jdbcType=CHAR},
      </if>
      <if test="card_type != null">
        card_type = #{card_type,jdbcType=CHAR},
      </if>
      <if test="origin_order_no != null">
        origin_order_no = #{origin_order_no,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunyard.sunfintech.dao.entity.RwWithdraw">
    update rw_withdraw
    set trans_serial = #{trans_serial,jdbcType=VARCHAR},
      order_no = #{order_no,jdbcType=VARCHAR},
      trans_date = #{trans_date,jdbcType=VARCHAR},
      trans_time = #{trans_time,jdbcType=VARCHAR},
      plat_no = #{plat_no,jdbcType=VARCHAR},
      prod_id = #{prod_id,jdbcType=VARCHAR},
      platcust = #{platcust,jdbcType=VARCHAR},
      trans_code = #{trans_code,jdbcType=VARCHAR},
      trans_name = #{trans_name,jdbcType=VARCHAR},
      out_amt = #{out_amt,jdbcType=DECIMAL},
      subject = #{subject,jdbcType=VARCHAR},
      sub_subject = #{sub_subject,jdbcType=VARCHAR},
      pay_code = #{pay_code,jdbcType=VARCHAR},
      fee_amt = #{fee_amt,jdbcType=DECIMAL},
      advance_amt = #{advance_amt,jdbcType=DECIMAL},
      oppo_account = #{oppo_account,jdbcType=VARCHAR},
      open_branch = #{open_branch,jdbcType=VARCHAR},
      payee_name = #{payee_name,jdbcType=VARCHAR},
      client_property = #{client_property,jdbcType=VARCHAR},
      city_code = #{city_code,jdbcType=VARCHAR},
      bank_id = #{bank_id,jdbcType=VARCHAR},
      brabank_name = #{brabank_name,jdbcType=VARCHAR},
      is_advance = #{is_advance,jdbcType=VARCHAR},
      pay_status = #{pay_status,jdbcType=VARCHAR},
      acct_state = #{acct_state,jdbcType=VARCHAR},
      withdraw_no = #{withdraw_no,jdbcType=VARCHAR},
      pay_time = #{pay_time,jdbcType=VARCHAR},
      finish_time = #{finish_time,jdbcType=VARCHAR},
      notify_url = #{notify_url,jdbcType=VARCHAR},
      host_req_serial_no = #{host_req_serial_no,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      ext4 = #{ext4,jdbcType=VARCHAR},
      query_no_num = #{query_no_num,jdbcType=INTEGER},
      paymessage = #{paymessage,jdbcType=VARCHAR},
      province_code = #{province_code,jdbcType=VARCHAR},
      payment_status = #{payment_status,jdbcType=VARCHAR},
      payment_date = #{payment_date,jdbcType=CHAR},
      card_type = #{card_type,jdbcType=CHAR},
      origin_order_no = #{origin_order_no,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>