<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.sunfintech.dao.mapper.ShareholderInfoMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.sunfintech.dao.entity.ShareholderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shareholder_name" jdbcType="VARCHAR" property="shareholder_name" />
    <result column="plat_no" jdbcType="VARCHAR" property="plat_no" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="proportion" jdbcType="DECIMAL" property="proportion" />
    <result column="id_type" jdbcType="VARCHAR" property="id_type" />
    <result column="id_code" jdbcType="CHAR" property="id_code" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shareholder_name, plat_no, job, proportion, id_type, id_code, address
  </sql>
  <select id="selectByExample" parameterType="com.sunyard.sunfintech.dao.entity.ShareholderInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from shareholder_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shareholder_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shareholder_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunyard.sunfintech.dao.entity.ShareholderInfoExample">
    delete from shareholder_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunyard.sunfintech.dao.entity.ShareholderInfo">
    insert into shareholder_info (id, shareholder_name, plat_no, 
      job, proportion, id_type, 
      id_code, address)
    values (#{id,jdbcType=INTEGER}, #{shareholder_name,jdbcType=VARCHAR}, #{plat_no,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{proportion,jdbcType=DECIMAL}, #{id_type,jdbcType=VARCHAR}, 
      #{id_code,jdbcType=CHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sunyard.sunfintech.dao.entity.ShareholderInfo">
    insert into shareholder_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shareholder_name != null">
        shareholder_name,
      </if>
      <if test="plat_no != null">
        plat_no,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="proportion != null">
        proportion,
      </if>
      <if test="id_type != null">
        id_type,
      </if>
      <if test="id_code != null">
        id_code,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shareholder_name != null">
        #{shareholder_name,jdbcType=VARCHAR},
      </if>
      <if test="plat_no != null">
        #{plat_no,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="proportion != null">
        #{proportion,jdbcType=DECIMAL},
      </if>
      <if test="id_type != null">
        #{id_type,jdbcType=VARCHAR},
      </if>
      <if test="id_code != null">
        #{id_code,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunyard.sunfintech.dao.entity.ShareholderInfoExample" resultType="java.lang.Integer">
    select count(*) from shareholder_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shareholder_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shareholder_name != null">
        shareholder_name = #{record.shareholder_name,jdbcType=VARCHAR},
      </if>
      <if test="record.plat_no != null">
        plat_no = #{record.plat_no,jdbcType=VARCHAR},
      </if>
      <if test="record.job != null">
        job = #{record.job,jdbcType=VARCHAR},
      </if>
      <if test="record.proportion != null">
        proportion = #{record.proportion,jdbcType=DECIMAL},
      </if>
      <if test="record.id_type != null">
        id_type = #{record.id_type,jdbcType=VARCHAR},
      </if>
      <if test="record.id_code != null">
        id_code = #{record.id_code,jdbcType=CHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shareholder_info
    set id = #{record.id,jdbcType=INTEGER},
      shareholder_name = #{record.shareholder_name,jdbcType=VARCHAR},
      plat_no = #{record.plat_no,jdbcType=VARCHAR},
      job = #{record.job,jdbcType=VARCHAR},
      proportion = #{record.proportion,jdbcType=DECIMAL},
      id_type = #{record.id_type,jdbcType=VARCHAR},
      id_code = #{record.id_code,jdbcType=CHAR},
      address = #{record.address,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunyard.sunfintech.dao.entity.ShareholderInfo">
    update shareholder_info
    <set>
      <if test="shareholder_name != null">
        shareholder_name = #{shareholder_name,jdbcType=VARCHAR},
      </if>
      <if test="plat_no != null">
        plat_no = #{plat_no,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="proportion != null">
        proportion = #{proportion,jdbcType=DECIMAL},
      </if>
      <if test="id_type != null">
        id_type = #{id_type,jdbcType=VARCHAR},
      </if>
      <if test="id_code != null">
        id_code = #{id_code,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunyard.sunfintech.dao.entity.ShareholderInfo">
    update shareholder_info
    set shareholder_name = #{shareholder_name,jdbcType=VARCHAR},
      plat_no = #{plat_no,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      proportion = #{proportion,jdbcType=DECIMAL},
      id_type = #{id_type,jdbcType=VARCHAR},
      id_code = #{id_code,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>