<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.sunfintech.custdao.mapper.CustEaccClearErrorInfoMapper">
  <resultMap id="BaseResultMap" type="com.sunyard.sunfintech.dao.entity.EaccClearErrorInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="clear_date" jdbcType="VARCHAR" property="clear_date" />
    <result column="eaccount" jdbcType="VARCHAR" property="eaccount" />
    <result column="own_Amt" jdbcType="VARCHAR" property="own_Amt" />
    <result column="bank_Amt" jdbcType="VARCHAR" property="bank_Amt" />
    <result column="error_msg" jdbcType="VARCHAR" property="error_msg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>

  <insert id="insertMore"  parameterType="java.util.List">
    <selectKey resultType ="java.lang.Integer" keyProperty= "id" order= "AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into eacc_clear_error_info
    (id, clear_date, eaccount,
    own_Amt, bank_Amt, error_msg,create_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.id,jdbcType=VARCHAR},
      #{item.clear_date,jdbcType=VARCHAR},
      #{item.eaccount,jdbcType=VARCHAR},
      #{item.own_Amt,jdbcType=VARCHAR},
      #{item.bank_Amt,jdbcType=VARCHAR},
      #{item.error_msg,jdbcType=VARCHAR},
      #{item.create_time,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
</mapper>