<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.sunfintech.custdao.mapper.CustPlatTransCustMapper">
    <resultMap id="BaseResultMap" type="com.sunyard.sunfintech.dao.entity.PlatTransCust">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="mall_no" jdbcType="VARCHAR" property="mall_no"/>
        <result column="plat_no" jdbcType="VARCHAR" property="plat_no"/>
        <result column="order_no" jdbcType="VARCHAR" property="order_no"/>
        <result column="trans_serial" jdbcType="VARCHAR" property="trans_serial"/>
        <result column="platcust" jdbcType="VARCHAR" property="platcust"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="sub_subject" jdbcType="VARCHAR" property="sub_subject"/>
        <result column="oppo_subject" jdbcType="VARCHAR" property="oppo_subject"/>
        <result column="oppo_sub_subject" jdbcType="VARCHAR" property="oppo_sub_subject"/>
        <result column="total_amt" jdbcType="DECIMAL" property="total_amt"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="trans_date" jdbcType="VARCHAR" property="trans_date"/>
        <result column="trans_time" jdbcType="VARCHAR" property="trans_time"/>
        <result column="cause_type" jdbcType="VARCHAR" property="cause_type"/>
        <result column="enabled" jdbcType="CHAR" property="enabled"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="VARCHAR" property="create_by"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="update_by" jdbcType="VARCHAR" property="update_by"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
    </resultMap>

    <update id="substractBalance" parameterType="com.sunyard.sunfintech.dao.entity.PlatTransCust">
        UPDATE plat_trans_cust
        SET balance = balance - #{balance}
        WHERE id = #{id}
    </update>

</mapper>